<div class="card-body">
  <mat-card class="basic-card" *ngFor="let iten of itens">
    <mat-card-header>
      <mat-card-title>{{ iten.name}}</mat-card-title>
      <mat-card-subtitle>{{ iten.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{iten.description}}
      </p>
    </mat-card-content>
    <mat-card-actions center-component>
      <button mat-button routerLink="/{{iten.crud}}">Manage {{ iten.name}}</button>
      <button mat-button routerLink="/{{iten.table}}">{{ iten.name}}</button>
    </mat-card-actions>
  </mat-card>
</div>