<div id="body" padding-20p>
  <mat-form-field class="example-form-field" text-color-white padding-20p gray-bg class="fix-filter">
    <mat-label>Filter</mat-label>
    <input matInput type="text" [(ngModel)]="filter" (keypress)="keyPressed($event)">
    <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="filter=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="meals">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Area Column -->
      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef> Area </th>
        <td mat-cell *matCellDef="let element"> {{element.area}} </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button [matMenuTriggerFor]="actions">Ingredients</button>
          <mat-menu #actions="matMenu" xPosition="after">
            <ul>
              <li *ngFor="let item of element.ingredients" text-color-white>
                {{item.name}}
              </li>
            </ul>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>